<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
    <script src="{{ STATIC_URL }}/bootstrap/js/jquery.min.js"></script>
    
    <style type="text/css">
        body {
            padding-top: 90px;
            padding-bottom: 40px;
        }
    </style>
    <!-- script src="{{ STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/bootstrap/js/jquery.min.js"></script -->
    
</head>
<body>
	   <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
          <span class="icon-bar"></span>
        </div>
    </div>
    <div class="content">
    	{% block content %}
    	{% endblock %}
    </div>
</body>
</html>