<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <script src="{{STATIC_URL}}bootstrap/js/jquery.min.js"></script>
        <script src="{{STATIC_URL}}jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <!-- Google css -->
        <script src="https://apis.google.com/js/client.js?onload=initialize"></script>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>

        <!-- css for map -->
        <style type="text/css">
			html {
				height: 100%
			}
			body {
				height: 100%;
				margin: 0;
				padding-top: 50px;
			}
			#map-canvas {
				height: 100%;
				max-width: none;
			}
	
			#map-canvas label {
				width: auto;
				display: inline;
			}

			#search-canvas {
				position: absolute;
				left: 0px;
				bottom: 0px;
				/*background-color: #fff;*/
				width: 100%;
				opacity: 1;
			}
			#results ul{
				width:auto !important;
			}
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{GMAP_API_KEY}}&sensor=true"></script>
        <script type="text/javascript" src="{{STATIC_URL}}map.js"></script>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <p class="navbar-text pull-right">
                Signed in as: <span class="badge">{{user}}</span>
            </p>
            <!-- p class="navbar-text pull-right">Logout: <a href="/logout/"><span class="badge"><img src="{{STATIC_URL}}bootstrap/img/glyphicons_063_power.png"></span></a></p -->
            <p>
                <a class="btn btn-default btn-small navbar-btn pull-left" href="/logout/">Logout</a>
            </p>
        </div>
        <div class="content" id="map-canvas"></div>
        <div id="search-canvas">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>